h1 {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 30px;
}
h3 {
    padding-left: 20px;
}
h4 {
    padding-left: 20px;
}
h2{
    color:green;
    padding-left: 20px;
}

p{
    font-weight: bold;
}
img {
    width: 50%;
}

div {
    padding-left:40px;
}